.cont-wrapper {
  min-height: calc(100vh - 120px);
}

.radio {
  display: inline-block;
  padding-left: 10px;
}

.star {
  color: $yellow;
}

.review-content {
  margin-top: 30px;
}

.hide-product {
  display: none !important;
  transition: opacity 3s ease-in-out;
}
