<div class="row">
  <div class="col-xs-6 col-md-4 col-md-offset-2">
    <h2>Restaurants</h2>
  </div>
  <div class="col-xs-6 col-md-4 text-right">
    <h2><%= link_to "Create a new restaurant", new_restaurant_path, class: "btn btn-primary" %></h2>
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @restaurants.each do |el| %>
      <% @restaurant = el %>
      <%= render 'listel' %>
    <% end %>
  </div>
</div>
