<div class="row">
  <div class="col-xs-6 col-sm-5 col-md-offset-1">
    <h2>Restaurant detail</h2>
  </div>
  <div class="col-xs-6 col-sm-5 text-right">
    <h2><%= link_to "Back to index", restaurants_path, class: "btn btn-primary" %></h2>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-offset-1">
    <%= render "listel" %>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-offset-1">
    <h2><%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></h2>
  </div>
  <div class="col-xs-6 col-sm-5">
    <div class="product-body">
      <h3>Current reviews</h3>
      <% if @restaurant.reviews.length > 0 %>
        <div class="list-group">
          <% @restaurant.reviews.each do |review| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                <%(1..review.rating).each do %>
                  <i class="fa fa-star star" aria-hidden="true"></i>
                <% end %>
                </h4>
              <p class="list-group-item-text"><%= review.content %></p>
            </div>
          <% end %>
        </div>
      <% else  %>
        <h4>No reviews yet</h4>
      <% end %>
    </div>
  </div>
</div>
