<div class="row">
  <div class="col-xs-6 col-sm-5 col-md-offset-1">
    <h2>Restaurant detail</h2>
  </div>
  <div class="col-xs-6 col-sm-5 text-right">
    <h2><%= link_to "Back to index", restaurants_path, class: "btn btn-primary" %></h2>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-offset-1">
    <%= render "listel" %>
  </div>
</div>
